<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::head}"></head>
<body>
<div th:replace="~{fragments/menu::navigation}"></div>
<div class="container mt-3" style="font-size:1rem;">
    <div class="container">
        <img src="/images/football_championship_2024.jpg" class="football-logo img-fluid mx-auto d-block mt-3">
    </div>
    <a th:href="@{/all-players/create}" class="btn btn-light">Add Footballer</a>
    <br>
    <span th:if="${playerDTOs == null || playerDTOs.isEmpty()}"
          style="color: red; font-size: 20px;">No available footballers!</span>
    <div class="table-wrapper">
        <div class="table-wrapper">
                <table class="table table-hover">
                    <thead class="bg-dark position-sticky top-0">
                    <tr>
                        <th scope="col" class="text-info">Full Name</th>
                        <th scope="col" class="text-info">Team</th>
                        <th scope="col" class="text-info">Position</th>
                        <th scope="col" class="text-info">Team Number</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="currentPlayerDTO, stat : ${playerDTOs}">
                        <td th:text="${currentPlayerDTO.fullName}"></td>
                        <td th:text="${teamsNames[stat.count - 1]}"></td>
                        <td>
                            <p th:if="${currentPlayerDTO.position == 'GK' ||
                            (currentPlayerDTO.position != 'DF' && currentPlayerDTO.position != 'MF'
                            && currentPlayerDTO.position != 'FW')}">Goal Keeper</p>
                            <p th:if="${currentPlayerDTO.position == 'DF'}">Defender</p>
                            <p th:if="${currentPlayerDTO.position == 'MF'}">Midfielder</p>
                            <p th:if="${currentPlayerDTO.position == 'FW'}">Forward</p>
                        </td>
                        <td th:text="${currentPlayerDTO.teamNumber}"></td>
                        <td><a th:href="@{/all-players/update/{id}(id=${currentPlayerDTO.id})}"
                               class="btn btn-success">Update</a></td>
                        <td>
                            <form th:object="${currentPlayerDTO}" th:action="@{/all-players/delete/{id}(id=${currentPlayerDTO.id})}"
                                  th:method="GET">
                                <input type="submit" th:value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer::foot}"></div>
</body>
</html>