<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::head}"></head>
<body>
<div th:replace="~{fragments/menu::navigation}"></div>
<div class="container mt-3" style="font-size:1rem;">
    <div class="container">
        <img src="/images/football_championship_2024.jpg" class="football-logo img-fluid mx-auto d-block">
    </div>
    <a th:href="@{/all-matches/create}" class="btn btn-light">Add Match</a>
    <br>
    <span th:if="${allMatchDTOs == null || allMatchDTOs.isEmpty()}"
          style="color: red; font-size: 20px;">No available matches!</span>
    <div class="table-wrapper">
    <table class="table table-hover">
        <thead class="bg-dark position-sticky top-0">
        <tr>
            <th scope="col" class="text-info">Date</th>
            <th scope="col" class="text-info">Score</th>
            <th scope="col" class="text-info">Team A</th>
            <th scope="col" class="text-info">Team B</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currentMatchDTO : ${allMatchDTOs}">
            <td th:text="${currentMatchDTO.date}"></td>
            <td th:text="${currentMatchDTO.score}"></td>
            <td th:text="${currentMatchDTO.getATeamId()}"></td>
            <td th:text="${currentMatchDTO.getBTeamId()}"></td>
            <td><a th:href="@{/all-matches/update/{id}(id=${currentMatchDTO.id})}"
                   class="btn btn-success">Update</a></td>
            <td>
                <form th:object="${currentMatchDTO}" th:action="@{/all-matches/delete/{id}(id=${currentMatchDTO.id})}"
                      th:method="GET">
                    <input type="submit" th:value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div th:replace="~{fragments/footer::foot}"></div>
</div>
</body>
</html>